<h1>Edit Your Doctor Profile</h1>

<%= form_for(@doctor) do |f| %>
 <div class="field" id="form-style">
   <%= f.label :name %>
   <%= f.text_field :name, required: true, autofocus: true %>
   <%= f.submit %>
 </div>
<% end %>