<h1>Current Appointments</h1>

<%= link_to 'Schedule an Appointment', new_appointment_path %>

<div id="appointments">
  <ul>
  <% @appointments.each do |appointment| %>
    <li id="appointment-item">
      <span>"</span>
      <%= @appointment.body %>
      <span>"</span>
      <%= link_to 'Change Appointment', edit_appointment_path(@movie, comment.id) %>
      <%= link_to 'Cancel Appointment', appointment_path(@appointment), method: :delete %>
    </li>
    <% end %>
  </ul>
</div>