<nav>
  <ul>
    <li>
      <%= link_to 'Home', root_path %>
    </li>
    <li>
      <%= link_to 'Schedule Appointment', new_patient_path %>
    </li>
    <li>
      <%= link_to 'Available Doctors', doctors_path %>
    </li>
    <li>
      <%= link_to 'View Appointments', appointments_show_path %>
  </ul>
</nav>